<div class="container" align="center">
  <div class="container" id="landing" >
      <div class="container" align="center" id="landing_text">
        <p><h1>Welcome to Query</h1></p>
        <p><small>Where you get answers for all!!!</small></p>
      </div>
  </div><br>
  <div class="container">
    <%= link_to "Create post",  new_post_path, class: "btn btn-primary btn-lg" %> 
    <%= link_to "View Posts",  posts_path, class: "btn btn-primary btn-lg" %>
  </div>

</div>
